body {
    padding: 0;
    margin: 0;
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

h1,h2,h3,h4{
    margin-top: 20px;
    margin-bottom: 10;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

#nav-container {
    height: 100px;
    background: #2C3E50;
}

#nav-inner {
    height: 100px;
}

#logo {
    float: left;
    font-size: 2em;
    margin: 30px 10px;
}

#nav-menu {
    float: right;
    margin: 36px 10px;
}

#nav-menu li {
    float: left;
    list-style: none;
    text-decoration: none;
    margin: 0 12px;
}

#nav-menu li a {
    letter-spacing: 1px;
}

#nav-menu li a:hover {
    letter-spacing: 1px;
    color: #18BC9C;
}

#nav-inner a {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

#header {
    background-color: #18BC9C;
    text-align: center;
    color:#fff;
}

#header .container
{
    padding-top: 100px;
    padding-bottom: 100px;
}

#header h1{
    font-size: 4.75em;
}

#header span{
    font-size: 1.3rem;
    font-family: Lato;
}

#content{
    text-align: center;
    background-color: #fff;
}

.clear
{
    clear: both;
}

#content h2{
    color: #2c3e50;
    font-size: 3rem;
    line-height: 2.5rem
}

#content .container{
    padding-top: 100px;
    padding-bottom: 100px;
}

.portfolio-item{
    width: 32%;
    float: left;
    background-color: aquamarine;
    margin-right: 1.3%;
    margin-top: 15px;
}

.portfolio-item img{
    width: 100%;
}

.portfolio-item a{
    display: block;
    position: relative;
}

.caption{
    background-color: #18BC9C;
    position: absolute;
    top: 0;
    width:100%;
    height: 100%;
    opacity: 0;
}

.caption:hover{
    opacity: 0.8;
}

.caption-content{
    position: absolute;
    top: 50%;
    width: 100%;
    color: #fff;
    margin-top: -15px;
}

#about{
    background-color: #18BC9C;
    text-align: center;
    color:#fff;
}

#about .container{
    padding-top: 100px;
    padding-bottom: 100px;
}

#about h2{
    font-size: 2.25rem;
}

#about p{
    -webkit-column-count: 2;
    text-align: left;
    font-size: 20px;
    padding: 0 20%;
    line-height: 1.5;
}

#btn {
    color: #fff;
    border: 2px solid #fff;
    font-size: 20px;
    padding: 14px 14px;
    background-color: transparent;
    border-radius: 5px;
    display: inline-block;
    margin-top: 15px;
}

#btn:hover{
    background-color:#fff;
    color: black;
}

#contact{
    background-color: #fff;
    text-align: center;
    color:#2C3E50;
}

#contact .container{
    padding-top: 100px;
    padding-bottom: 100px;
}

#form
{
    width: 50%;
    margin: 0 auto;
}
.form-group{
    margin-top: 20px;
}

.form-group textarea{
    height: auto;
    border-bottom: 1px solid #eee;
}

input[type="text"],textarea
{
    width: 100%;
    border: none;
    border-top: 1px solid #eee;
    padding: 6px 12px;
    height: 34px;
    font-size: 1.5em;
}

#sendBtn{
    background-color:#18BC9C;
    color: #fff;
    border: 2px solid #fff;
    font-size: 15px;
    padding: 14px 14px;
    border-radius: 5px;
    cursor: pointer;
    float: left;
    margin-top: 20px;
}

#sendBtn:hover{
    background-color: darkcyan;
}

#sendBtn:active{
  background-color:blue;
}

#footer{
    text-align: center;
    color:#fff;
}

.container{
    padding-top: 100px;
    padding-bottom: 100px;
}
#footer-top{
    background-color: #2C3E50;
    padding: 50px;
}

#footer-bottom{
    background-color: #1a252f;
}

.footer-col{
    float: left;
    width: 33%;
    margin-bottom: 50px;
}

.footer ul{
    margin: 0;
    padding: 0;
}

.footer-col li{
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    list-style: none;
    float: left;
    margin-right: 7px;
    
}

.footer-col li a{
    color: #fff;
    background-color: transparent;
    font-size: 25px;
    line-height: 45px;
}

.footer-col li:hover{
    background-color: #fff;
}
.footer-col li a:hover{
    color: #18BC9C;
}

#footer p{
    font-size:1.25rem;
}

footer p a{
    text-decoration: none;
}

#footer p a:hover{
    font-size:1.25rem;
    text-decoration: underline;
} 

h3{
    font-size: 24px;
    margin-bottom: 30px;
}


.star-line{
    border: none;
    border-top: solid 5px;
    max-width: 250px;
    margin-top: 40px;
    padding-bottom: 10px;
}

.star-line2{
    border: none;
    border-top: solid 5px;
    max-width: 250px;
    margin-top: 40px;
    padding-bottom: 10px;
    color: #2C3E50;
}